<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>body</key>
		<string>core</string>
		<key>detail</key>
		<array>
			<dict>
				<key>name</key>
				<string>Crunch</string>
				<key>start</key>
				<real>0.2</real>
				<key>end</key>
				<real>0.8</real>
				<key>repetition</key>
				<integer>20</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>Push up</string>
				<key>start</key>
				<real>0.1</real>
				<key>end</key>
				<real>0.3</real>
				<key>repetition</key>
				<integer>15</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>Plank</string>
				<key>start</key>
				<real>0.7</real>
				<key>end</key>
				<integer>1</integer>
				<key>repetition</key>
				<integer>18</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>Jumping Jacks</string>
				<key>start</key>
				<real>0.5</real>
				<key>end</key>
				<real>0.7</real>
				<key>repetition</key>
				<integer>10</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>body</key>
		<string>Upper Body</string>
		<key>detail</key>
		<array>
			<dict>
				<key>name</key>
				<string>Chest Press</string>
				<key>start</key>
				<real>0.2</real>
				<key>end</key>
				<real>0.8</real>
				<key>repetition</key>
				<integer>20</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>Dumbbell Flys</string>
				<key>start</key>
				<real>0.1</real>
				<key>end</key>
				<real>0.3</real>
				<key>repetition</key>
				<integer>15</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>Boxer</string>
				<key>start</key>
				<real>0.7</real>
				<key>end</key>
				<integer>1</integer>
				<key>repetition</key>
				<integer>18</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>body</key>
		<string>Lower Body</string>
		<key>detail</key>
		<array>
			<dict>
				<key>name</key>
				<string>Bridges</string>
				<key>start</key>
				<real>0.2</real>
				<key>end</key>
				<real>0.8</real>
				<key>repetition</key>
				<integer>20</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>Squats</string>
				<key>start</key>
				<real>0.1</real>
				<key>end</key>
				<real>0.3</real>
				<key>repetition</key>
				<integer>15</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>Lunges</string>
				<key>start</key>
				<real>0.7</real>
				<key>end</key>
				<integer>1</integer>
				<key>repetition</key>
				<integer>18</integer>
			</dict>
            <dict>
                <key>name</key>
                <string>Step</string>
                <key>start</key>
                <real>0.7</real>
                <key>end</key>
                <integer>1</integer>
                <key>repetition</key>
                <integer>18</integer>
            </dict>
            <dict>
                <key>name</key>
                <string>Step-Ups</string>
                <key>start</key>
                <real>0.7</real>
                <key>end</key>
                <integer>1</integer>
                <key>repetition</key>
                <integer>18</integer>
            </dict>
        </array>
	</dict>
</array>
</plist>
