<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>body</key>
		<string>Core</string>
		<key>detail</key>
		<array>
			<dict>
				<key>name</key>
				<string>Workout1(2 rep)</string>
				<key>repTime</key>
				<real>1</real>
				<key>restTime</key>
				<integer>3</integer>
				<key>numRep</key>
				<integer>2</integer>
				<key>numSet</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>Workout2(3 rep)</string>
				<key>repTime</key>
				<real>1</real>
				<key>restTime</key>
				<integer>2</integer>
				<key>numRep</key>
				<integer>3</integer>
				<key>numSet</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>Workout3(5 rep)</string>
				<key>repTime</key>
				<real>1</real>
				<key>restTime</key>
				<integer>5</integer>
				<key>numRep</key>
				<integer>3</integer>
				<key>numSet</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>Workout4(10 rep)</string>
				<key>repTime</key>
				<real>1</real>
				<key>restTime</key>
				<real>8</real>
				<key>numRep</key>
				<integer>10</integer>
				<key>numSet</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>Workout5(20 rep)</string>
				<key>repTime</key>
				<real>1</real>
				<key>restTime</key>
				<real>8</real>
				<key>numRep</key>
				<integer>20</integer>
				<key>numSet</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>Workout6(50 rep)</string>
				<key>repTime</key>
				<real>1</real>
				<key>restTime</key>
				<real>8</real>
				<key>numRep</key>
				<integer>50</integer>
				<key>numSet</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>Push up</string>
				<key>repTime</key>
				<real>1</real>
				<key>restTime</key>
				<real>3</real>
				<key>numRep</key>
				<integer>15</integer>
				<key>numSet</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>Plank</string>
				<key>repTime</key>
				<integer>30</integer>
				<key>restTime</key>
				<integer>1</integer>
				<key>numRep</key>
				<integer>2</integer>
				<key>numSet</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>Jumping Jacks</string>
				<key>repTime</key>
				<integer>1</integer>
				<key>restTime</key>
				<integer>2</integer>
				<key>numRep</key>
				<integer>3</integer>
				<key>numSet</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>FastWhatever</string>
				<key>repTime</key>
				<real>0.5</real>
				<key>restTime</key>
				<integer>2</integer>
				<key>numRep</key>
				<integer>10</integer>
				<key>numSet</key>
				<integer>3</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>body</key>
		<string>Upper Body</string>
		<key>detail</key>
		<array>
			<dict>
				<key>name</key>
				<string>Chest Press</string>
				<key>repTime</key>
				<real>2</real>
				<key>restTime</key>
				<real>8</real>
				<key>numRep</key>
				<integer>2</integer>
				<key>numSet</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>Dumbbell Flys</string>
				<key>repTime</key>
				<real>1</real>
				<key>restTime</key>
				<real>3</real>
				<key>numRep</key>
				<integer>2</integer>
				<key>numSet</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>Boxer</string>
				<key>repTime</key>
				<real>7</real>
				<key>restTime</key>
				<integer>1</integer>
				<key>numRep</key>
				<integer>2</integer>
				<key>numSet</key>
				<integer>5</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>body</key>
		<string>Lower Body</string>
		<key>detail</key>
		<array>
			<dict>
				<key>name</key>
				<string>Bridges</string>
				<key>repTime</key>
				<real>2</real>
				<key>restTime</key>
				<real>8</real>
				<key>numRep</key>
				<integer>2</integer>
				<key>numSet</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>Squats</string>
				<key>repTime</key>
				<real>1</real>
				<key>restTime</key>
				<real>3</real>
				<key>numRep</key>
				<integer>2</integer>
				<key>numSet</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>Lunges</string>
				<key>repTime</key>
				<real>7</real>
				<key>restTime</key>
				<integer>1</integer>
				<key>numRep</key>
				<integer>2</integer>
				<key>numSet</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>Step</string>
				<key>repTime</key>
				<real>7</real>
				<key>restTime</key>
				<integer>1</integer>
				<key>numRep</key>
				<integer>2</integer>
				<key>numSet</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>Step-Ups</string>
				<key>repTime</key>
				<real>7</real>
				<key>restTime</key>
				<integer>1</integer>
				<key>numRep</key>
				<integer>2</integer>
				<key>numSet</key>
				<integer>5</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
